.el-select-dropdown__item.in_progress {
  background: #faa919;
  color: #fff;
}

.el-select-dropdown__item.in_progress.selected {
  color: #fff;
  font-weight: normal;
}

.el-select-dropdown__item.in_progress.selected.hover {
  background-color: #faa919;

  &:hover {
    background-color: #faa919;
  }
}

.el-select-dropdown__item.in_progress.hover {
    background-color: #faa919;
  }

// This is completed stage

.el-select-dropdown__item.done {
  background: green;
  color: #fff;
}

.el-select-dropdown__item.done.selected {
  color: #fff;
  font-weight: normal;
}

.el-select-dropdown__item.done.selected.hover {
  background-color: green;

  &:hover {
    background-color: green;
  }
}

.el-select-dropdown__item.done.hover {
  background-color: green;
}

// This is stared stage

.el-select-dropdown__item.cancelled {
  background: red;
  color: #fff;
}

.el-select-dropdown__item.cancelled.selected {
    color: #fff;
    font-weight: normal;
  }
  
  .el-select-dropdown__item.cancelled.selected.hover {
    background-color: red;
  
    &:hover {
      background-color: red;
    }
  }
  
  .el-select-dropdown__item.cancelled.hover {
    background-color: red;
  }
